.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Bungee Shade', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 3rem;
  color: #4ECCA3;
  font-family: 'Baskervville SC', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Baskervville SC', cursive;

}
button {
  color: #3a3636;
  display: block;
  background-color: #4ECCA3;
  height: 75px;
  font-size: 45px;
  font-family: 'Baskervville SC', cursive; 
  border-radius: 10px;
  border-radius: 7px;
  transition: 0.2s;
  margin: 1.5rem auto 2rem;
}

button:active{
  transform: scaleX(0.9) translateY(5px);
  color: #EEEEEE
}
